/*----------COLORES----------*/
/*----------FUENTE----------*/
/*----------ESTILO DE FUENTE----------*/
/*----------ESTILO DE BORDE----------*/
/*----------PADDING----------*/
body {
  background: linear-gradient(#0a1213, #9f5069);
  margin: 0px;
  padding: 0px; }

.cabecera {
  background-color: #EBD2B4;
  margin-top: 0px;
  margin-bottom: 0px; }
  .cabecera nav {
    display: inline-block;
    margin-left: 750px; }
  .cabecera ul {
    margin-top: 0px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 1rem; }
  .cabecera li {
    display: inline-block;
    margin: 0 15px 0 5px; }
  .cabecera a {
    text-decoration: none;
    color: #7a4968; }

#titulo-principal {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  color: #01C5C4;
  text-align: center;
  margin-top: 50px; }

.yo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 30% 70%; }
  .yo__subtitulo {
    grid-column: 1;
    font-size: 4rem;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #01C5C4;
    text-align: center;
    margin: 50px 0px 50px 0px; }
  .yo__parrafo {
    grid-column: 2;
    grid-row: 2;
    color: #dfc8ad;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.6rem;
    margin: 20px 30px 30px 30px; }
  .yo--proyecto-imagen {
    grid-column: 1;
    grid-row: 2;
    margin-top: 30px;
    max-height: 400px;
    max-width: 450px;
    margin-left: 20px;
    border-radius: 15px; }
  .yo--proyecto-imagen:hover {
    max-height: 550px;
    max-width: 500px;
    border-radius: 5px;
    display: inline-block;
    transition: all 2s; }

.proyecto-imagen {
  height: 300px;
  width: 400px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: all 2s;
  margin-left: 20px;
  margin-right: 20px; }

.proyecto-imagen:hover {
  height: 320px;
  width: 420px; }

.subtitulo {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 3.125rem;
  color: #01C5C4;
  text-align: center;
  margin: 50px 0px 50px 0px; }

.educacion__subtitulo {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 360%;
  color: #01C5C4;
  text-align: center;
  margin: 50px 0px 50px 0px; }

.contacto--subtitulo {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 360%;
  color: #01C5C4;
  text-align: center;
  margin: 50px 0px 50px 0px; }

section .video {
  width: 650px;
  height: 550px;
  margin-left: 400px; }

.subtitulo-proyecto {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 360%;
  color: #01C5C4;
  text-align: center;
  margin: 50px 0px 50px 0px; }

.proyectos {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .proyectos .proyectos-seccion {
    color: #EBD2B4;
    font-size: 1.88235rem;
    font-family: "Open Sans", sans-serif; }
  .proyectos .proyecto-titulo {
    margin: 5px 0 20px 0;
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: #EBD2B4; }

.carousel-inner {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.carousel {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.carousel-control-prev {
  margin-left: 300px; }

.carousel-control-next {
  margin-right: 0; }

.carousel-control-next-icon {
  margin-bottom: 10px; }

.carousel-item img {
  width: 50% !important;
  height: 30% !important;
  border-radius: 5px; }

.carousel-control-next {
  width: 55%; }

button:hover {
  border: none;
  padding: 0;
  box-shadow: none !important; }

.parrafo-proyecto {
  color: #EBD2B4;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  margin: 15px 10px 5px 50px;
  display: flex;
  justify-content: center; }

.parrafo {
  color: #dfc8ad;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 1.6rem;
  margin: 10px 0 30px 30px; }

.ver-mas {
  text-align: center;
  margin: 5px 0px 30px 0; }
  .ver-mas a {
    font-size: 130%;
    text-align: center;
    color: white;
    text-decoration: none; }
  .ver-mas a:hover {
    text-decoration: underline; }

table {
  border-collapse: separate;
  border-spacing: 30px; }

.educacion--tabla {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center; }
  .educacion--tabla ul {
    margin: 0 20px 0 20px;
    padding: 0; }
  .educacion--tabla th {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #7a4968;
    font-size: 1.56863rem;
    background: #EBD2B4;
    border-radius: 5px;
    padding: 5px; }
  .educacion--tabla li {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #d99879;
    text-align: center;
    font-size: 1.6rem; }
  .educacion--tabla tr {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #d99879;
    text-align: center;
    font-size: 1.6rem; }

/* Aplicando Bootstrap */
.row {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 30px;
  margin-right: 0; }

.form-label {
  font-size: 1.56863rem;
  font-family: "Open Sans", sans-serif;
  color: #e9e2d1;
  margin: 0 15px 0 0;
  text-align: center;
  display: block;
  font-weight: bold; }

.col-md-4 input {
  background-color: rgba(255, 255, 255, 0.1) !important;
  border: 2px solid white;
  outline: none !important;
  border-radius: 40px;
  color: white !important;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif; }

.form-control:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
  outline: none !important;
  border: none;
  color: white;
  padding: 10px 15px 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); }

.dropdown {
  display: flex;
  justify-content: center;
  margin-top: 0;
  font-size: 0.93567rem; }

.dropdown .btn:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
  outline: none !important;
  border: none;
  color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); }

.btn {
  font-size: 1.56863rem;
  font-weight: bold; }

.btn-secondary {
  background-color: rgba(255, 255, 255, 0.1) !important;
  border: 2px solid white;
  border-radius: 40px;
  outline: none;
  box-shadow: none;
  margin-top: 60px;
  width: 450px; }

.btn-secondary:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
  border: 1px solid white;
  outline: none;
  box-shadow: none; }

.col-md-3 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  color: white; }

.col-md-3 input {
  margin: 20px 0px 0 0;
  background-color: rgba(255, 255, 255, 0.1) !important;
  border: 2px solid white;
  border-radius: 15px;
  padding: 50px;
  width: 450px;
  outline: none;
  color: white;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif; }

.col-md-3 input:hover {
  border: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 50px; }

.col-md-3 input::placeholder {
  color: white; }

.col-12 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white; }

.contacto--boton {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contacto--boton button {
    font-weight: bold;
    letter-spacing: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    padding: 5px;
    width: 300px;
    outline: none;
    color: white;
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 30px; }
  .contacto--boton button:hover {
    border: none;
    padding: 10px 15px 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); }

.contacto-form {
  margin-right: 0 !important; }

/* Aplicando Flexbox */
.footer {
  display: flex;
  flex-direction: column;
  padding: 12.5px;
  position: static;
  margin-top: 50px; }
  .footer .social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .footer .instagram-icon {
    background-image: url("../media/instagram.png");
    width: 70px;
    height: 70px; }
  .footer .linkedin-icon {
    background-image: url("../media/linkedin.png");
    width: 70px;
    height: 70px; }
  .footer .whatsapp-icon {
    background-image: url("../media/whatsapp.png");
    width: 70px;
    height: 70px; }
  .footer h5 {
    color: white;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px; }

.contenedor-404 {
  background: linear-gradient(#0a1213, #9f5069);
  color: white;
  padding: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.texto {
  font-family: "Open Sans", sans-serif;
  font-size: 10rem;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.titulo--texto {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center; }

@media only screen and (max-width: 1024px) {
  .cabecera nav {
    margin-left: 400px; }
  .cabecera a {
    font-size: 1.6rem; }
  #titulo-principal {
    margin-top: 100px; }
  section .video {
    margin-left: 300px;
    width: 500px;
    height: 300px; }
  .parrafo {
    font-size: 1.56863rem;
    margin-left: 0; }
  .subtitulo {
    margin-top: 100px;
    margin-bottom: 100px; }
  .subtitulo h2 {
    margin: 0 30px 0px; }
  /*Aplicando Grids*/
  .proyectos {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 2, 1fr;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px; }
  .contenido-1 {
    display: grid;
    grid-template-rows: 1; }
  .contenido-2 {
    display: grid;
    grid-row: 2; }
  .contenido-3 {
    display: grid;
    grid-row: 3; }
  .proyecto-imagen {
    margin-top: 10px;
    grid-column: 1; }
  .parrafo-proyecto {
    grid-column: 2;
    display: flex;
    align-items: center;
    font-size: 1.88235rem; }
  .carousel-control-prev {
    margin: 0 100px 220px 200px; }
  .carousel-control-next {
    margin: 0 10px 220px 200px; }
  .ver-mas {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 1.56863rem; }
  .educacion__subtitulo {
    margin-top: 100px;
    margin-bottom: 100px; }
  .educacion--tabla {
    margin: 100px 0 150px 100px; }
    .educacion--tabla th {
      font-size: 2.08333rem; }
    .educacion--tabla li {
      font-size: 1.88235rem; }
    .educacion--tabla td {
      font-size: 1.88235rem; }
  .row {
    margin-left: 0;
    margin-bottom: 10px;
    margin-top: 5px; }
  .form-label {
    font-size: 25px;
    margin: 0; }
  button {
    margin: 10px 0 15px 0; }
  .footer {
    margin-top: 160px; }
    .footer h5 {
      font-size: 1.56863rem; }
    .footer .social-icons {
      margin-top: 20px; } }

@media only screen and (max-width: 600px) {
  body {
    background-color: #918a8a; }
  .cabecera nav {
    margin-left: 50px; }
  .cabecera a {
    font-size: 0.93567rem; }
  #titulo-principal {
    font-size: 350%; }
  p.parrafo {
    font-size: 120%; }
  .yo__subtitulo {
    font-size: 40px;
    margin: 30px 0 0 0; }
  .yo__parrafo {
    margin: 0;
    font-size: 0.93567rem;
    margin-bottom: 50px; }
  .yo--proyecto-imagen {
    max-height: 200px;
    max-width: 250px;
    transition: none;
    margin-top: 0; }
  section .video {
    margin: 0 0 0 100px;
    width: 400px;
    height: 300px; }
  .subtitulo {
    margin: 50px; }
  /*Aplicando Grids*/
  .proyectos {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 2, 1fr;
    align-items: center; }
  .contenido-1 {
    display: grid;
    grid-template-rows: 1; }
  .contenido-2 {
    display: grid;
    grid-row: 2; }
  .contenido-3 {
    display: grid;
    grid-row: 3; }
  .proyecto-imagen {
    margin-top: 10px;
    margin-left: 10px; }
  .carousel-control-prev {
    margin: 0 100px 220px 200px; }
  .carousel-control-next {
    margin: 0 10px 220px 200px; }
  .parrafo-proyecto {
    display: grid;
    font-size: 1.6rem;
    grid-column: 2;
    margin-left: 5px;
    margin-top: 10px;
    align-items: flex-start; }
  .ver-mas {
    display: grid;
    grid-column: 2;
    display: flex;
    align-items: center;
    margin: 0px 0px 10px 5px;
    font-size: 100%; }
    .ver-mas a {
      font-size: 1.6rem; }
  .educacion__subtitulo {
    margin-top: 50px; }
  .educacion--tabla {
    margin: 0; }
    .educacion--tabla th {
      font-size: 1.88235rem; }
    .educacion--tabla li {
      font-size: 1.56863rem; }
    .educacion--tabla td {
      font-size: 1.56863rem; }
  .row {
    margin: 5px 0 10px 0; }
  .form-control {
    width: 95%; }
  .input-group
> :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    width: 88%;
    flex: 0 1 auto !important; }
  .form-label {
    font-size: 1.6rem; }
  button {
    margin-bottom: 15px; }
  .footer {
    margin-top: 50px; }
    .footer h5 {
      font-size: 0.93567rem; } }

@media only screen and (max-width: 480px) {
  body {
    background-color: #918a8a; }
  .cabecera a {
    font-size: 0.93567rem; }
  .cabecera nav {
    margin-left: 0px; }
  #titulo-principal {
    margin-top: 50px; }
  .parrafo {
    font-size: 0.93567rem;
    margin: 15px 0 10px 0; }
  .yo__subtitulo {
    font-size: 45px;
    margin-top: 25px;
    margin-bottom: 0; }
  .yo__parrafo {
    font-size: 12px;
    margin: 0 15px 50px 0; }
  .yo--proyecto-imagen {
    max-height: 170px;
    max-width: 220px;
    transition: none;
    margin-top: 0; }
  section .video {
    margin: 0px 0px 0px 100px;
    width: 300px;
    height: 200px; }
  .subtitulo {
    margin: 50px 0 50px 0px; }
  .proyectos {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .proyectos .proyecto-imagen {
      width: 100%;
      height: 100%; }
    .proyectos .parrafo-proyecto {
      font-size: 18px;
      margin-left: 15px; }
  .carousel-control-prev {
    margin-left: 100px;
    margin-top: 0;
    margin-bottom: 200px; }
    .carousel-control-prev .carousel-control-next {
      margin-right: 0;
      margin-top: 0;
      margin-bottom: 200px; }
  .ver-mas {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .ver-mas a {
      font-size: 100%;
      margin-top: 20px; }
  .educacion__subtitulo {
    font-size: 45px;
    margin-top: 25px;
    margin-bottom: 0; }
  .educacion--tabla {
    margin-bottom: 10px;
    margin-top: 20px; }
    .educacion--tabla th {
      font-size: 1.33333rem; }
    .educacion--tabla td {
      font-size: 1.10345rem; }
    .educacion--tabla li {
      font-size: 1.10345rem; }
  .contacto--subtitulo {
    font-size: 45px;
    margin-top: 25px;
    margin-bottom: 0; }
  .row {
    margin: 5px 0 10px 0; }
  .form-label {
    font-size: 1.6rem; }
  button {
    margin-bottom: 15px; }
  .footer {
    margin-top: 0; }
    .footer--contacto {
      font-size: 0.93567rem; }
    .footer--social {
      font-size: 0.93567rem; } }

@media only screen and (min-width: 320px) and (max-width: 479px) {
  body {
    color: black !important; }
  .cabecera a {
    font-size: 10px; }
  .cabecera li {
    margin: 0 2px 0 5px; }
  .cabecera ul {
    padding-left: 5px; }
  .video {
    margin-left: 30px !important;
    width: 300px;
    height: 200px; }
  #titulo-principal {
    font-size: 3.2rem; }
  .subtitulo {
    margin-bottom: 0;
    font-size: 2.46154rem; }
  .yo__subtitulo {
    font-size: 45px;
    height: 20px;
    margin-top: 45px; }
  .yo--proyecto-imagen {
    margin: 90px 0 70px 5px; }
  .yo__parrafo {
    font-size: 10px;
    margin: 90px 5px 15px 5px; }
  .parrafo {
    font-size: 0.93567rem !important;
    margin-left: 10px;
    margin-right: 10px; }
  .proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 0; }
    .proyectos .proyecto-titulo {
      font-size: 1.88235rem; }
    .proyectos .proyecto-imagen {
      width: 95%;
      height: 75%; }
    .proyectos .parrafo-proyecto {
      font-size: 0.88398rem; }
  .subtitulo-proyecto {
    margin: 50px 0px 40px 0px; }
  .parrafo-proyecto {
    font-size: 0.88398rem;
    margin-top: 30px; }
  .ver-mas a {
    font-size: 0.88398rem;
    margin-top: 30px; }
  .carousel-inner {
    margin-right: 0 !important;
    margin-left: 45px; }
  .carousel-item img {
    width: 75% !important; }
  .carousel-item-next,
  .carousel-item-prev,
  .carousel-item.active {
    margin-right: 0; }
  .carousel-control-prev {
    margin-left: 60px;
    margin-bottom: 20px; }
  .carousel-control-next-icon {
    margin-left: 45px; }
  .carousel-control-next {
    margin-bottom: 15px; }
  .educacion__subtitulo {
    font-size: 2.46154rem; }
  table {
    border-spacing: 15px; }
  .educacion--tabla {
    margin-bottom: 10px;
    margin-top: 20px; }
    .educacion--tabla ul {
      margin: 0; }
    .educacion--tabla th {
      font-size: 0.93567rem; }
    .educacion--tabla td {
      font-size: 0.84211rem; }
    .educacion--tabla li {
      font-size: 0.84211rem; }
  .contacto--subtitulo {
    font-size: 2.46154rem;
    margin-top: 25px;
    margin-bottom: 0; }
  .form-label {
    font-size: 0.94118rem; }
  .col-md-4 input {
    font-size: 0.93023rem; }
  .input-group
> :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    width: 83%;
    flex: 0 1 auto !important; }
  .btn-secondary {
    font-size: 0.93023rem;
    width: 305px;
    margin-top: 35px;
    margin-bottom: 5px; }
  .col-md-3 input {
    width: 290px;
    font-size: 0.93023rem; }
  .contacto--boton button {
    font-size: 0.93023rem;
    margin-bottom: 15px;
    margin-top: 5px; }
  footer {
    margin-top: 88px !important;
    padding: 0 !important; }
    footer--contacto {
      margin-bottom: 5px !important;
      font-size: 0.93567rem; }
    footer .social-icons {
      margin-top: 5px !important; } }
