/*----------COLORES----------*/
$color-titulo: #01C5C4;
$color-subtitulo: #EBD2B4;
$color-header: #7a4968;
$color-tabla: #d99879;
$color-rosa: #dfc8ad;
$color-claro: white;

/*----------FUENTE----------*/
$fuente: 'Open Sans', sans-serif;
$tamanio-fuente: 160rem;

/*----------ESTILO DE FUENTE----------*/
$estilo-fuente: bold;

/*----------ESTILO DE BORDE----------*/
$radius-pequenio: 5px;
$radius-mediano: 15px;
$radius-grande: 40px;

/*----------PADDING----------*/
$padding: 100px;
