@import "variables";

@mixin sizes($width, $height) {
    width: $width;
    height: $height;
}

body {
    background: linear-gradient(#0a1213, #9f5069);
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}

.cabecera {
    background-color: $color-subtitulo;
    margin-top: 0px;
    margin-bottom: 0px;

    nav {
        display: inline-block;
        margin-left: 750px;
    }

    ul {
        margin-top: 0px;
        font-family: $fuente;
        font-weight: $estilo-fuente;
        font-size: $tamanio-fuente/160;
    }

    li {
        display: inline-block;
        margin: 0 15px 0 5px;
    }

    a {
        text-decoration: none;
        color: $color-header;
    }
}

#titulo-principal {
    font-family: $fuente;
    font-weight: $estilo-fuente;
    font-size: $tamanio-fuente/40;
    color: $color-titulo;
    text-align: center;
    margin-top: 50px;
}
.yo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30% 70%;

    &__subtitulo {
        grid-column: 1;
        font-size: $tamanio-fuente/40;
        font-family: $fuente;
        font-weight: $estilo-fuente;
        color: $color-titulo;
        text-align: center;
        margin: 50px 0px 50px 0px;
    }
    &__parrafo {
        grid-column: 2;
        grid-row: 2;
        color: $color-rosa;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: $tamanio-fuente/100;
        margin: 20px 30px 30px 30px;
    }
    &--proyecto-imagen {
        grid-column: 1;
        grid-row: 2;
        margin-top: 30px;
        max-height: 400px;
        max-width: 450px;
        margin-left: 20px;
        border-radius: $radius-mediano;
    }
    &--proyecto-imagen:hover {
        max-height: 550px;
        max-width: 500px;
        border-radius: $radius-pequenio;
        display: inline-block;
        transition: all 2s;
    }
}

.proyecto-imagen {
    height: 300px;
    width: 400px;
    border-radius: $radius-pequenio;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: all 2s;
    margin-left: 20px;
    margin-right: 20px;
}
.proyecto-imagen:hover {
    height: 320px;
    width: 420px;
}

.subtitulo {
    font-family: $fuente;
    font-weight: $estilo-fuente;
    font-size: $tamanio-fuente/51.2;
    color: $color-titulo;
    text-align: center;
    margin: 50px 0px 50px 0px;
}
.educacion__subtitulo {
    font-family: $fuente;
    font-weight: $estilo-fuente;
    font-size: 360%;
    color: $color-titulo;
    text-align: center;
    margin: 50px 0px 50px 0px;
}
.contacto--subtitulo {
    font-family: $fuente;
    font-weight: $estilo-fuente;
    font-size: 360%;
    color: $color-titulo;
    text-align: center;
    margin: 50px 0px 50px 0px;
}

section .video {
    width: 650px;
    height: 550px;
    margin-left: 400px;
}

.subtitulo-proyecto {
    font-family: $fuente;
    font-weight: $estilo-fuente;
    font-size: 360%;
    color: $color-titulo;
    text-align: center;
    margin: 50px 0px 50px 0px;
}
.proyectos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .proyectos-seccion {
        color: $color-subtitulo;
        font-size: $tamanio-fuente/85;
        font-family: $fuente;
    }
    .proyecto-titulo {
        margin: 5px 0 20px 0;
        display: flex;
        justify-content: center;
        font-size: 35px;
        color: $color-subtitulo;
    }
}

.carousel-inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.carousel {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.carousel-control-prev {
    margin-left: 300px;
}

.carousel-control-next {
    margin-right: 0;
}

.carousel-control-next-icon {
    margin-bottom: 10px;
}
.carousel-item img {
    width: 50% !important;
    height: 30% !important;
    border-radius: $radius-pequenio;
}

.carousel-control-next {
    width: 55%;
}

button:hover {
    border: none;
    padding: 0;
    box-shadow: none !important;
}

.parrafo-proyecto {
    color: $color-subtitulo;
    font-family: $fuente;
    font-size: $tamanio-fuente/100;
    margin: 15px 10px 5px 50px;
    display: flex;
    justify-content: center;
}

.parrafo {
    color: $color-rosa;
    font-family: $fuente;
    text-align: center;
    font-size: $tamanio-fuente/100;
    margin: 10px 0 30px 30px;
}

.ver-mas {
    text-align: center;
    margin: 5px 0px 30px 0;

    a {
        font-size: 130%;
        text-align: center;
        color: $color-claro;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}
table {
    border-collapse: separate;
    border-spacing: 30px;
}

.educacion--tabla {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    ul {
        margin: 0 20px 0 20px;
        padding: 0;
    }

    th {
        font-family: $fuente;
        font-weight: $estilo-fuente;
        color: $color-header;
        font-size: $tamanio-fuente/102;
        background: $color-subtitulo;
        border-radius: $radius-pequenio;
        padding: $padding/20;
    }

    li {
        font-family: $fuente;
        font-weight: $estilo-fuente;
        color: $color-tabla;
        text-align: center;
        font-size: $tamanio-fuente/100;
    }

    tr {
        font-family: $fuente;
        font-weight: $estilo-fuente;
        color: $color-tabla;
        text-align: center;
        font-size: $tamanio-fuente/100;
    }
}

/* Aplicando Bootstrap */
.row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 30px;
    margin-right: 0;
}

.form-label {
    font-size: $tamanio-fuente/102;
    font-family: $fuente;
    color: #e9e2d1;
    margin: 0 15px 0 0;
    text-align: center;
    display: block;
    font-weight: $estilo-fuente;
}

.col-md-4 input {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border: 2px solid $color-claro;
    outline: none !important;
    border-radius: $radius-grande;
    color: $color-claro !important;
    font-size: $tamanio-fuente/100;
    font-family: $fuente;
}

.form-control:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
    outline: none !important;
    border: none;
    color: $color-claro;
    padding: 10px 15px 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.dropdown {
    display: flex;
    justify-content: center;
    margin-top: 0;
    font-size: $tamanio-fuente/171;
}

.dropdown .btn:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
    outline: none !important;
    border: none;
    color: $color-claro;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn {
    font-size: $tamanio-fuente/102;
    font-weight: $estilo-fuente;
}

.btn-secondary {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border: 2px solid $color-claro;
    border-radius: $radius-grande;
    outline: none;
    box-shadow: none;
    margin-top: 60px;
    width: 450px;
}

.btn-secondary:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border: 1px solid $color-claro;
    outline: none;
    box-shadow: none;
}

.col-md-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    color: $color-claro;
}
.col-md-3 input {
    margin: 20px 0px 0 0;
    background-color: rgba(255, 255, 255, 0.1) !important;
    border: 2px solid $color-claro;
    border-radius: $radius-mediano;
    padding: $padding/2;
    width: 450px;
    outline: none;
    color: $color-claro;
    font-size: $tamanio-fuente/100;
    font-family: $fuente;
}
.col-md-3 input:hover {
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: $padding/2;
}
.col-md-3 input::placeholder {
    color: $color-claro;
}
.col-12 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: $color-claro;
}
.contacto--boton {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        font-weight: $estilo-fuente;
        letter-spacing: 1px;
        background-color: rgba(255, 255, 255, 0.1);
        border: 2px solid $color-claro;
        border-radius: $radius-grande;
        padding: $padding/20;
        width: 300px;
        outline: none;
        color: $color-claro;
        font-size: $tamanio-fuente/100;
        font-family: $fuente;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    button:hover {
        border: none;
        padding: 10px 15px 15px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }
}

.contacto-form {
    margin-right: 0 !important;
}

/* Aplicando Flexbox */
.footer {
    display: flex;
    flex-direction: column;
    padding: $padding/8;
    position: static;
    margin-top: 50px;

    .social-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    // Aplicando each

    @each $icono in instagram, linkedin, whatsapp {
        .#{$icono}-icon {
            background-image: url("../media/#{$icono}.png");
            width: 70px;
            height: 70px;
        }
    }
    h5 {
        color: $color-claro;
        font-family: $fuente;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.contenedor-404 {
    background: linear-gradient(#0a1213, #9f5069);
    color: white;
    padding: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.texto {
    font-family: $fuente;
    font-size: 10rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.titulo--texto {
    font-family: $fuente;
    font-size: 2rem;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media only screen and (max-width: 1024px) {
    .cabecera {
        nav {
            margin-left: 400px;
        }

        a {
            font-size: $tamanio-fuente/100;
        }
    }

    #titulo-principal {
        margin-top: 100px;
    }

    section .video {
        margin-left: 300px;
        @include sizes(500px, 300px);
    }
    .parrafo {
        font-size: $tamanio-fuente/102;
        margin-left: 0;
    }
    .subtitulo {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .subtitulo h2 {
        margin: 0 30px 0px;
    }

    /*Aplicando Grids*/

    .proyectos {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 2, 1fr;
        align-items: center;
        margin-bottom: 100px;
        margin-top: 100px;
    }

    .contenido-1 {
        display: grid;
        grid-template-rows: 1;
    }

    .contenido-2 {
        display: grid;
        grid-row: 2;
    }

    .contenido-3 {
        display: grid;
        grid-row: 3;
    }

    .proyecto-imagen {
        margin-top: 10px;
        grid-column: 1;
    }

    .parrafo-proyecto {
        grid-column: 2;
        display: flex;
        align-items: center;
        font-size: $tamanio-fuente/85;
    }

    .carousel-control-prev {
        margin: 0 100px 220px 200px;
    }

    .carousel-control-next {
        margin: 0 10px 220px 200px;
    }

    .ver-mas {
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: $tamanio-fuente/102;
    }

    .educacion__subtitulo {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .educacion--tabla {
        margin: 100px 0 150px 100px;

        th {
            font-size: $tamanio-fuente/76.8;
        }

        li {
            font-size: $tamanio-fuente/85;
        }

        td {
            font-size: $tamanio-fuente/85;
        }
    }

    .row {
        margin-left: 0;
        margin-bottom: 10px;
        margin-top: 5px;
    }

    .form-label {
        font-size: 25px;
        margin: 0;
    }

    button {
        margin: 10px 0 15px 0;
    }

    .footer {
        margin-top: 160px;

        h5 {
            font-size: $tamanio-fuente/102;
        }
        .social-icons {
            margin-top: 20px;
        }
    }
}

@media only screen and (max-width: 600px) {
    body {
        background-color: rgb(145, 138, 138);
    }
    .cabecera {
        nav {
            margin-left: 50px;
        }

        a {
            font-size: $tamanio-fuente/171;
        }
    }

    #titulo-principal {
        font-size: 350%;
    }

    p.parrafo {
        font-size: 120%;
    }

    .yo {
        &__subtitulo {
            font-size: 40px;
            margin: 30px 0 0 0;
        }

        &__parrafo {
            margin: 0;
            font-size: $tamanio-fuente/171;
            margin-bottom: 50px;
        }

        &--proyecto-imagen {
            max-height: 200px;
            max-width: 250px;
            transition: none;
            margin-top: 0;
        }
    }

    section .video {
        margin: 0 0 0 100px;
        @include sizes(400px, 300px);
    }
    .subtitulo {
        margin: 50px;
    }

    /*Aplicando Grids*/

    .proyectos {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 2, 1fr;
        align-items: center;
    }

    .contenido-1 {
        display: grid;
        grid-template-rows: 1;
    }

    .contenido-2 {
        display: grid;
        grid-row: 2;
    }

    .contenido-3 {
        display: grid;
        grid-row: 3;
    }

    .proyecto-imagen {
        margin-top: 10px;
        margin-left: 10px;
    }

    .carousel-control-prev {
        margin: 0 100px 220px 200px;
    }

    .carousel-control-next {
        margin: 0 10px 220px 200px;
    }

    .parrafo-proyecto {
        display: grid;
        font-size: $tamanio-fuente/100;
        grid-column: 2;
        margin-left: 5px;
        margin-top: 10px;
        align-items: flex-start;
    }
    .ver-mas {
        display: grid;
        grid-column: 2;
        display: flex;
        align-items: center;
        margin: 0px 0px 10px 5px;
        font-size: 100%;
        a {
            font-size: $tamanio-fuente/100;
        }
    }

    .educacion__subtitulo {
        margin-top: 50px;
    }

    .educacion--tabla {
        margin: 0;

        th {
            font-size: $tamanio-fuente/85;
        }

        li {
            font-size: $tamanio-fuente/102;
        }

        td {
            font-size: $tamanio-fuente/102;
        }
    }

    .row {
        margin: 5px 0 10px 0;
    }
    .form-control {
        width: 95%;
    }
    .input-group
        > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
        width: 88%;
        flex: 0 1 auto !important;
    }

    .form-label {
        font-size: $tamanio-fuente/100;
    }

    button {
        margin-bottom: 15px;
    }

    .footer {
        margin-top: 50px;

        h5 {
            font-size: $tamanio-fuente/171;
        }
    }
}

@media only screen and (max-width: 480px) {
    .cabecera {
        a {
            font-size: $tamanio-fuente/171;
        }
        nav {
            margin-left: 0px;
        }
    }

    #titulo-principal {
        margin-top: 50px;
    }
    .parrafo {
        font-size: $tamanio-fuente/171;
        margin: 15px 0 10px 0;
    }
    .yo {
        &__subtitulo {
            font-size: 45px;
            margin-top: 25px;
            margin-bottom: 0;
        }

        &__parrafo {
            font-size: 12px;
            margin: 0 15px 50px 0;
        }
        &--proyecto-imagen {
            max-height: 170px;
            max-width: 220px;
            transition: none;
            margin-top: 0;
        }
    }

    section .video {
        margin: 0px 0px 0px 100px;
        @include sizes(300px, 200px);
    }

    .subtitulo {
        margin: 50px 0 50px 0px;
    }

    .proyectos {
        display: flex;
        flex-direction: column;
        align-items: center;

        .proyecto-imagen {
            @include sizes(100%, 100%);
        }

        .parrafo-proyecto {
            font-size: 18px;
            margin-left: 15px;
        }
    }

    .carousel-control-prev {
        margin-left: 100px;
        margin-top: 0;
        margin-bottom: 200px;

        .carousel-control-next {
            margin-right: 0;
            margin-top: 0;
            margin-bottom: 200px;
        }
    }

    .ver-mas {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            font-size: 100%;
            margin-top: 20px;
        }
    }

    .educacion__subtitulo {
        font-size: 45px;
        margin-top: 25px;
        margin-bottom: 0;
    }

    .educacion--tabla {
        margin-bottom: 10px;
        margin-top: 20px;

        th {
            font-size: $tamanio-fuente/120;
        }
        td {
            font-size: $tamanio-fuente/145;
        }
        li {
            font-size: $tamanio-fuente/145;
        }
    }

    .contacto--subtitulo {
        font-size: 45px;
        margin-top: 25px;
        margin-bottom: 0;
    }

    .row {
        margin: 5px 0 10px 0;
    }
    .form-label {
        font-size: $tamanio-fuente/100;
    }
    button {
        margin-bottom: 15px;
    }
    .footer {
        margin-top: 0;

        &--contacto {
            font-size: $tamanio-fuente/171;
        }
        &--social {
            font-size: $tamanio-fuente/171;
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .cabecera {
        a {
            font-size: 10px;
        }
        li {
            margin: 0 2px 0 2px;
        }
        ul {
            padding-left: 5px;
        }
    }
    .video {
        margin-left: 10px !important;
        @include sizes(300px, 200px);
    }

    #titulo-principal {
        font-size: $tamanio-fuente/50;
    }

    .subtitulo {
        margin-bottom: 0;
        font-size: $tamanio-fuente/65;
    }
    .yo {
        &__subtitulo {
            font-size: 45px;
            height: 20px;
            margin-top: 45px;
        }
        &--proyecto-imagen {
            margin: 60px 0 70px 5px;
        }
        &__parrafo {
            font-size: 10px;
            margin: 60px 5px 15px 5px;
        }
    }

    .parrafo {
        font-size: $tamanio-fuente/171 !important;
        margin-left: 10px;
        margin-right: 10px;
    }

    .proyectos {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 0;

        .proyecto-titulo {
            font-size: $tamanio-fuente/85;
        }

        .proyecto-imagen {
            @include sizes(95%, 75%);
        }

        .parrafo-proyecto {
            font-size: $tamanio-fuente/181;
        }
    }
    .subtitulo-proyecto {
        margin: 50px 0px 40px 0px;
    }
    .parrafo-proyecto {
        font-size: $tamanio-fuente/181;
        margin-top: 30px;
    }

    .ver-mas a {
        font-size: $tamanio-fuente/181;
        margin-top: 30px;    
    }

    .carousel-inner {
        margin-right: 0 !important;
        margin-left: 45px;
    }
    .carousel-item img {
        width: 75% !important;
    }
    .carousel-item-next,
    .carousel-item-prev,
    .carousel-item.active {
        margin-right: 0;
    }
    .carousel-control-prev {
        margin-left: 60px;
        margin-bottom: 65px;
    }
    .carousel-control-next-icon {
        margin-left: 45px;
    }
    .carousel-control-next {
        margin-bottom: 60px;
    }

    .educacion__subtitulo {
        font-size: $tamanio-fuente/65;
    }
    table {
        border-spacing: 15px;
    }

    .educacion--tabla {
        margin-bottom: 10px;
        margin-top: 20px;

        ul {
            margin: 0;
        }

        th {
            font-size: $tamanio-fuente/171;
        }
        td {
            font-size: $tamanio-fuente/190;
        }
        li {
            font-size: $tamanio-fuente/190;
        }
    }

    .contacto--subtitulo {
        font-size: $tamanio-fuente/65;
        margin-top: 25px;
        margin-bottom: 0;
    }
    .form-label {
        font-size: $tamanio-fuente/170;
    }
    .col-md-4 input {
        font-size: $tamanio-fuente/172;
    }
    .input-group
        > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
        width: 83%;
        flex: 0 1 auto !important;
    }
    .btn-secondary {
        font-size: $tamanio-fuente/172;
        width: 305px;
        margin-top: 35px;
        margin-bottom: 5px;
    }
    .col-md-3 input {
        width: 290px;
        font-size: $tamanio-fuente/172;
    }

    .contacto--boton button {
        font-size: $tamanio-fuente/172;
        margin-bottom: 15px;
        margin-top: 5px;
    }
    footer {
        margin-top: 75px !important;
        padding: 0 !important;

        &--contacto {
            margin-bottom: 5px !important;
            font-size: $tamanio-fuente/171;
        }
        .social-icons {
            margin-top: 5px !important;
        }
    }
}